h1, h2, h3, h4, h5, h6, div, a, i, b, span, img
  margin 0
  padding 0

html, body, .full-container
  width 100vw
  height 100vh
  min-height 100%
  overflow hidden

#vueg-background .full-container
  padding-top 104px

.text-center
  text-align center

.flex
  display flex
  justify-content space-around

.flex1
  display flex
  justify-content space-around

.van-nav-bar
  height 104px
  line-height 104px
  background-color #eff0f1

  .van-icon
    color #cecfd0

.van-nav-bar__arrow
  font-size 52px

.van-nav-bar__left
  left 14px

.van-nav-bar__title
  font-size 32px
